<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<welcome-file-list>
		<welcome-file>protected/dashboard.xhtml</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Production</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
		<param-value>0</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>redmond</param-value>
	</context-param>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Administracion del Sistema</web-resource-name>
			<url-pattern>/protected/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>ADMIN_MAIN</role-name>
			<role-name>ADMIN_SEGURIDAD</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>myRealm</realm-name>
		<form-login-config>
			<form-login-page>/Login.xhtml</form-login-page>
			<form-error-page>/LoginError.xhtml</form-error-page>
		</form-login-config>
	</login-config>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<!-- System roles -->
	<security-role>
		<description>ADMIN_MAIN</description>
		<role-name>ADMIN_MAIN</role-name>
	</security-role>
	<security-role>
		<description>ADMIN_SEGURIDAD</description>
		<role-name>ADMIN_SEGURIDAD</role-name>
	</security-role>


</web-app>